
body {
	/*background-image: url("../images/spacebit.jpg");*/
	background-color: white;
	/*overflow: hidden;*/
	overflow-x: hidden;
	padding-top: 70px;
	min-height: 2000px
}
@media screen and (max-width: 768px) {
	body {
		padding-top: 0px;
	}
}
a {
	font-size: 14pt;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Lato', sans-serif; 
	font-weight: bold;
}

h1 {
	font-size: 24pt;
}
h2 {
	font-size: 18pt;
}
h3 {
	font-size: 13.55pt;
}

h5 {
	font-size: 10pt;
}

h6 {
	font-size: 7.55pt;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
}
.navbar-brand {
	font-family: 'Lato', sans-serif; 
	/*color: rgb(230, 100, 21) !important;*/
	color: deepskyblue !important;
	font-size: 2rem;
}
#header {
	padding: 20px;
}
#contentlist {
	width: 100%;
	height: 30%;
}
.content-view {
	border: 1px solid black;
	border-radius: 5px;
	padding: 2%;


}

.content-view table {

}
button {
	color: black !important;
}

.intro {
	background-color: black;
	border-radius: 5px;
	padding: 4%;
	color: white;
	opacity: .8;
}

.newsitem {
	padding: 3%;
	margin-top: 1%;
	margin-bottom: 1%;
	background-color: rgba(226, 226, 226, 0.86);
	border-radius: 5px;
}
.newsitem p {
	font-size: 12pt;

}

.newsitem a {
	background-color: #2196f3;
	padding: .7%;
	color: white;
	border-radius: 10px;
}

#authordate {
	font-size: 13pt;
}

#chatbuttontop {
	text-align: center;
	padding: 7%;
	font-size: 20pt;
	position: relative;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	background-color: darkorange;
	border: 1px solid black;
}
.links {

}
#chatbuttonbottom {
	background-color: darkorange;
	text-align: center;
	padding: 7%;
	font-size: 20pt;
	position: relative;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border: 1px solid black;
	margin-top: .5%;
}
#chatbutton {
	background-color: #2196f3;
	text-align: center;
	padding: 7%;
	font-size: 20pt;
	position: relative;
	border: 1px solid black;
	margin-top: .35%;

}
#chatbutton a{
	color: black;
	text-decoration: none;
	text-align: center;
	border-bottom-right-radius: 10px;
}
#chatbutton a:hover{
	color: white;
	text-decoration: none;
	text-align: center;
	border-bottom-right-radius: 10px;
}
#chatbuttonbottom a{
	color: black;
	text-decoration: none;
	text-align: center;
	margin-top: -2%;
}
#chatbuttonbottom a:hover {
	color: white;
	margin-top: -2%;
	border-bottom-right-radius: 10px;
}
#chatbuttontop a{
	color: black;
	text-decoration: none;
	text-align: center;
	margin-top: -2%;
	border-bottom-right-radius: 10px;
}
#chatbuttontop a:hover {
	color: white;
	margin-top: -2%;
	border-bottom-right-radius: 10px;
}
#chatHR {
	border-top: 1px solid #9c9c9c;
}


.home_outtercontent {
	margin-top: -2%;
}
.home_innercontent {
	margin-top: 3%;
}
#footer {
	color: white;
	padding: 20px;
	margin-top: 1%;
	width: 100%;
	bottom:0;
	left:0;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


.admin_menu{
	border: 1px solid #e7e7e7;
	border-radius: 10px;
	background-color: rgba(211, 211, 211, 0.25);

}
.admin_menu h4 {
	text-align: center;
}
.admin_menu ul {
	list-style-type: none;


}
#content-title{
	text-align: center;
}
.content-add{
	border-radius: 10px;
	border: 1px solid #e7e7e7;
	width: 300px;
	padding: 3%;
}
.content-add h5 {
	text-align: center;

}
#userinfo {
	width: 100%;
	height: 30%;
	padding: 2%;

}
#userinfo td {
	width: 200px;
}
#userinfo a {
	width: 20px;

}

#userinfo tr:nth-child(even){
	border-top: 1px solid black;
	border-bottom: 1px solid black;

}

#contentlist tr:nth-child(even){
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	
}
#contentlist tr {
	height: 5%;

}

.user-form {
	display: none;

}
#usertitle {
	text-align: center;
	

}
#createuser {
	margin-bottom: 1%;

}
#search {
	width: 150px;

}
.userlist{
	margin-bottom: 5%;
	background-color: rgba(211, 211, 211, 0.25);
	padding: .5%;

}

.news {

	background-color: rgba(211, 211, 211, 0.25);
	border-radius: 10px;
	padding: 2%;
}

.dashboardtitle h5{
	text-align: center;
}
.admin_menu {
	margin-bottom: 2%;
	background-color: rgba(211, 211, 211, 0.25);
	

}
.site_stats{
	 background-color: rgba(211, 211, 211, 0.25);
	

 }
.verticalline {
	border-right: 1px solid black !important;
	
}

.content-button {
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	background-color: darkorange;
	font-size: 14pt;

}
.content-button a {
	color: black;
}
.selecttype {
	margin-left: 2%;
	margin-bottom: 2%;
}
.pagetitle {
	text-align: center;
	padding: 2%;
}
#view_ajax {
  	display: block;
  	overflow: auto;
  	width: 500px;
  	height: 300px;
  	border: 1px solid #333;
  	margin: 0 auto;
  	margin-top: 20px;
	padding: .5%;
}

#ajaxForm{
  display: block;
  margin: 0 auto;
  width: 500px; 
  height: 50px;
  margin-top: 10px;
}

#chatInput{
  width: 454px;
}
#nickname {
	color: blue;
	font-weight: bold;
}
#chatdate {
	color: purple;
	font-weight: bold;
}
.slider {
	overflow: hidden;
	width: 100%;
	height: 500px;


}
.slideritem {
	background-color: rgba(226, 226, 226, 0.50);

	height: 500px;
	z-index: 1

}
.slideritem h2 {
	padding: 2%;
	z-index: -1;
}
.slideritem a {
	vertical-align: bottom;
}


#up {
	display:inline-block;
	position: absolute;
	top: 120px;
	left: 90%;
	z-index: 91;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px
	

}
#down {
	display:inline-block;
	position: absolute;
	top: 190px;
	z-index: 5;
	left: 90%;
	border-bottom-right-radius: 60px;
	border-bottom-left-radius: 60px;
}

#up, #down {
	background-color: gray;
	color: white;
	width: 50px;
	height: 50px;
	border: 0px;
	padding: 1%;
	opacity: .5;
}

#down:hover, #up:hover {
	opacity: 1;
}

.content-panel {
	margin-bottom: 20px;
	margin-top: 20px;
}

.slideNum {
	float: left;
}
.card--custom {
	height: 300px;
}
.login--form {
	margin-top: 8rem;
	height: 83%;
}	
.register--link {
	margin-top: 3rem;
}
.hero {
	margin-top: 8rem;
	margin-bottom: 5rem;
}
.hero--wallpaper {
background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
